<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cool Climate Network</title>
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container" id="root"></div>
    <% if (process.env.NODE_ENV === 'development') { %>
    <script src="http://localhost:3000/webpack-dev-server.js"></script><% } %>
    <script src="/assets/app.js"></script>
  </body>
</html>
