#travel .input-group input {
  text-align:right;
}

.vehicle-slider__container {
  text-align:center;
}


.cc-component__question--vehicle {
  overflow-x:scroll;
  .input-group {
    min-width:300px;
  }
}

.cc-component__question--gasoline_unit {
  display: inline;
  margin-left: 16%;
  .input-group-btn {
    display: inline;
    .dropdown-menu {
      margin: 10px 0 0;
    }
  }
}
