<main class="cc-component container container-md" id="travel">
  <header class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-black.svg"/>
      <h4>{this.t('travel.title')}</h4>
    </div>
    <span class="cc-component__byline">{this.t('travel.byline')}</span>
  </header>

  <div class="cc-component__form">
    <div class="panel panel-default">
      <div class="panel-heading">
        {this.t('travel.your_vehicles')}
        <button class="btn btn-default btn-xs"
          onClick="{this.addVehicle.bind(this)}"
          rt-props="{disabled: this.vehicles_maxed}">
          <i class="fa fa-plus"></i>.
          {this.t('add')}
        </button>
        <div class="input-group cc-component__question--gasoline_unit">
          {this.t('travel.gasoline_unit')}
          <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                {this.displayConsumptionUnit()}
                <!--  -->
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#" onClick="{this.updateConsumptionUnit.bind(this, 'mpg')}">
                  {this.t('travel.miles_per_gallon')}
                </a>
              </li>
              <li>
                <a href="#" onClick="{this.updateConsumptionUnit.bind(this, 'kml')}">
                  {this.t('travel.liters_per_km')}
                </a>
              </li>
            </ul>
          </div><!-- /btn-group -->
      </div>
      </div>
      <div class="panel panel-body">
        <div rt-repeat="vehicle in this.vehicles"
             class="cc-component__question cc-component__question--vehicle"
             key="{vehicle.id}">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {this.displayFuelType(vehicle)} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" onClick="{this.updateVehicleFuelType.bind(this, vehicle, '1')}">
                    {this.t('travel.gasoline')}
                  </a>
                </li>
                <li>
                  <a href="#" onClick="{this.updateVehicleFuelType.bind(this, vehicle, '2')}">
                  {this.t('travel.diesel')}
                  </a>
                </li>
              </ul>
            </div><!-- /btn-group -->
            <input class="form-control" data-key="miles"
              value="{vehicle.display_miles}"
              placeholder="{this.t('travel.miles_per_year')}"
              onChange="{this.updateVehicle.bind(this, vehicle)}"/>
            <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
            <span class="input-group-btn">
              <button type="button"
                class="btn btn-danger"
                onClick="{this.removeVehicle.bind(this, vehicle)}">X</button>
            </span>
          </div>
          <div class="label-container">
            <span class="label label-slider">{vehicle.display_mpg} <i>{this.displayConsumptionUnit()}</i></span>
          </div>
          <div class="vehicle-slider__container" id="{vehicle.slider_id}"></div>
        </div>
      </div>
    </div>

    <div class="cc-simple-advanced-container">
      <span class="cc-component__simple-toggle"
        rt-class="{'cc-component__simple-toggle--active': this.state.simple}"
        onClick="{this.setSimple.bind(this)}">{this.t('component.labels.simple')}</span> |
      <span class="cc-component__simple-toggle"
        rt-class="{'cc-component__simple-toggle--active': !this.state.simple}"
        onClick="{this.setAdvanced.bind(this)}">{this.t('component.labels.advanced')}</span>
    </div>

    <div rt-if="this.simple">
      <div class="panel panel-default">
        <div class="panel-heading">{this.t('travel.publictrans.label')}</div>
        <div class="panel-body">
          <div class="input-group">
            <input class="form-control"
              onChange="{this.updateDistanceFootprint.bind(this)}"
              placeholder="{this.displayDistanceValue('publictrans')}"
              data-api_key="input_footprint_transportation_publictrans"
              class="cc-component__question-input--right"/>
            <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{this.t('travel.air.label')}</div>
        <div class="panel-body">
          <div class="input-group">
            <input class="form-control"
              onChange="{this.updateDistanceFootprint.bind(this)}"
              placeholder="{this.displayDistanceValue('airtotal')}"
              data-api_key="input_footprint_transportation_airtotal"
              class="cc-component__question-input--right"/>
            <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
          </div>
        </div>
      </div>
    </div>

    <div rt-if="!this.simple">
      <div class="panel panel-default">
        <div class="panel-heading">{this.t('travel.publictrans.label')}</div>
        <div class="panel-body">
          <div class="cc-component__question">
            <h5>{this.t('travel.publictrans.bus')}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateDistanceFootprint.bind(this)}"
                placeholder="{this.displayDistanceValue('bus')}"
                data-api_key="input_footprint_transportation_bus"/>
              <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.publictrans.transit_rail')}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateDistanceFootprint.bind(this)}"
                placeholder="{this.displayDistanceValue('transit')}"
                data-api_key="input_footprint_transportation_transit"/>
              <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.publictrans.commuter_rail')}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateDistanceFootprint.bind(this)}"
                placeholder="{this.displayDistanceValue('commuter')}"
                data-api_key="input_footprint_transportation_commuter"/>
              <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.publictrans.inter_city_rail')}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateFootprintInput.bind(this)}"
                placeholder="{this.displayDistanceValue('intercity')}"
                data-api_key="input_footprint_transportation_intercity"/>
              <span class="input-group-addon">{this.displayYearlyDistanceUnit()}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{this.t('travel.air.label')}</div>
        <div class="panel-body">
          <div class="cc-component__question">
            <h5>{this.t('travel.air.short')}{this.displayDistanceAbbreviation()}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateFootprintInput.bind(this)}"
                value="{this.displayUserApiStateValue('airshort')}"
                data-api_key="input_footprint_transportation_airshort"/>
              <span class="input-group-addon">{this.t('travel.flights_per_year')}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.air.medium')}{this.displayDistanceAbbreviation()}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateFootprintInput.bind(this)}"
                value="{this.displayUserApiStateValue('airmedium')}"
                data-api_key="input_footprint_transportation_airmedium"/>
              <span class="input-group-addon">{this.t('travel.flights_per_year')}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.air.long')}{this.displayDistanceAbbreviation()}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateFootprintInput.bind(this)}"
                value="{this.displayUserApiStateValue('airlong')}"
                data-api_key="input_footprint_transportation_airlong"/>
              <span class="input-group-addon">{this.t('travel.flights_per_year')}</span>
            </div>
          </div>

          <div class="cc-component__question">
            <h5>{this.t('travel.air.extended')}{this.displayDistanceAbbreviation()}</h5>
            <div class="input-group">
              <input class="form-control"
                onChange="{this.updateFootprintInput.bind(this)}"
                value="{this.displayUserApiStateValue('airextended')}"
                data-api_key="input_footprint_transportation_airextended"/>
              <span class="input-group-addon">{this.t('travel.flights_per_year')}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}" >{this.t('Previous')}</a>
    <a onClick="{this.router.next.bind(this.router)}" >{this.t('Next')}</a>
  </div>
</main>
