<main class="cc-component container container-md" id="home">
	<header class="cc-component__header">
		<div>
			<img src="/assets/img/{this.route_key}-black.svg"/>
			<h4>{this.t('home.title')}</h4>
		</div>
		<span class="cc-component__byline">{this.t('home.byline')}</span>
	</header>

	<div class="cc-component__form">
		<div class="cc-component__question">
			<h4>{this.t(`home.electricity.label`)}</h4>
			<div class="input-group">
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('electricity', 0)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_electricity_dollars}"
				placeholder="{this.defaultCategoryInput('electricity_dollars')}"
				data-api_key="input_footprint_housing_electricity_dollars"
				class="cc-component__question-input"/>
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('electricity', 1)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_electricity_kwh}"
				placeholder="{this.defaultCategoryInput('electricity_kwh')}"
				data-api_key="input_footprint_housing_electricity_kwh"
				class="cc-component__question-input"/>
				<div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {this.display_electricity_units} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#"
              	data-api_key="input_footprint_housing_electricity_type"
              	data-value="0"
              	onClick="{this.setUnits.bind(this)}"
              	dangerouslySetInnerHTML="{{__html: this.t('units.usd_per_year')}}">
              </a>
            </li>
            <li>
              <a href="#"
              	data-api_key="input_footprint_housing_electricity_type"
              	data-value="1"
              	onClick="{this.setUnits.bind(this)}"
              	dangerouslySetInnerHTML="{{__html: this.t('units.kwh_per_year')}}">
            </li>
          </ul>
        </div>
			</div>
		</div>
		<div class="cc-component__question">
			<div class="cc-component__question-label">{this.t(`home.cleanpercent.label`)}</div>
			<div class="label-container">
				<span class="label label-slider">{this.display_cleanpercent} %</span>
			</div>
			<div id="home_cleanpercent_slider"></div>
		</div>
		<div class="cc-component__question">
			<h4>{this.t(`home.naturalgas.label`)}</h4>
			<div class="input-group">
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('naturalgas', 0)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_naturalgas_dollars}"
				placeholder="{this.defaultCategoryInput('naturalgas_dollars')}"
				data-api_key="input_footprint_housing_naturalgas_dollars"
				class="cc-component__question-input"/>
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('naturalgas', 1)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_naturalgas_therms}"
				placeholder="{this.defaultCategoryInput('naturalgas_therms')}"
				data-api_key="input_footprint_housing_naturalgas_therms"
				class="cc-component__question-input"/>
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('naturalgas', 2)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_naturalgas_cuft}"
				placeholder="{this.defaultCategoryInput('naturalgas_cuft')}"
				data-api_key="input_footprint_housing_naturalgas_cuft"
				class="cc-component__question-input"/>
				<div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	          {this.display_naturalgas_units} <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu">
	          <li>
	            <a href="#"
	            	data-api_key="input_footprint_housing_naturalgas_type"
	            	data-value="0"
	            	onClick="{this.setUnits.bind(this)}"
	            	dangerouslySetInnerHTML="{{__html: this.t('units.usd_per_year')}}">
	            </a>
	          </li>
	          <li>
	            <a href="#"
	            	data-api_key="input_footprint_housing_naturalgas_type"
	            	data-value="1"
	            	onClick="{this.setUnits.bind(this)}"
	            	dangerouslySetInnerHTML="{{__html: this.t('units.therms_per_year')}}">
	            </a>
	          </li>
	          <li>
	            <a href="#"
	            	data-api_key="input_footprint_housing_naturalgas_type"
	            	data-value="2"
	            	onClick="{this.setUnits.bind(this)}"
	            	dangerouslySetInnerHTML="{{__html: this.t('units.cuft_per_year')}}">
	            </a>
	          </li>
	        </ul>
	      </div>
			</div>
		</div>

		<div class="cc-component__question">
			<h4>{this.t(`home.heatingoil.label`)}</h4>
			<div class="input-group">
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('heatingoil', 0)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_heatingoil_dollars}"
				placeholder="{this.defaultCategoryInput('heatingoil_dollars')}"
				data-api_key="input_footprint_housing_heatingoil_dollars"
				class="cc-component__question-input"/>
				<input class="form-control"
				rt-class="{hidden: !this.unitsSet('heatingoil', 1)}"
				onChange="{this.updateFootprintInput.bind(this)}"
				value="{this.state.input_footprint_housing_heatingoil_gallons}"
				placeholder="{this.defaultCategoryInput('heatingoil_gallons')}"
				data-api_key="input_footprint_housing_heatingoil_gallons"
				class="cc-component__question-input"/>
				<div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	          {this.display_heatingoil_units} <span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu">
	          <li>
	            <a href="#"
	            	data-api_key="input_footprint_housing_heatingoil_type"
	            	data-value="0"
	            	onClick="{this.setUnits.bind(this)}"
	            	dangerouslySetInnerHTML="{{__html: this.t('units.usd_per_year')}}">
	            </a>
	          </li>
	          <li>
	            <a href="#"
	            	data-api_key="input_footprint_housing_heatingoil_type"
	            	data-value="1"
	            	onClick="{this.setUnits.bind(this)}"
	            	dangerouslySetInnerHTML="{{__html: this.t('units.gallons_per_year')}}">
	            </a>
	          </li>
	        </ul>
	      </div>
			</div>
		</div>

		<div class="cc-component__question">
			<h4>{this.t(`home.squarefeet.label`)}</h4>
			<input class="form-control"
			onChange="{this.updateFootprintInput.bind(this)}"
			value="{this.state.input_footprint_housing_squarefeet}"
			data-api_key="input_footprint_housing_squarefeet"
			class="cc-component__question-input"/>
		</div>

		<div class="cc-component__question">
			<h4>{this.t(`home.watersewage.label`)}</h4>
			<div class="label-container">
				<span class="label label-slider">
					{this.display_annual_water_dollars}
					<i>{this.t('units.usd_per_year')}</i>
				</span>
			</div>
			<div id="home_watersewage_slider"></div>
		</div>
	</div>

	<div class="cc-component__nav">
		<a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
		<a onClick="{this.router.next.bind(this.router)}">{this.t('Next')}</a>
	</div>
</main>
