// @import "../../../server/assets/css/variables";
a { cursor: pointer; }

#cc_calculator_ui {
	.cc-nav__item {
		cursor: pointer;
		padding: 5px 0;
		text-align: center;
		display:inline-block;
		width:100px;
		img {
			margin: 0 auto;
			height: 40px;
		}
		span {
			width: 100%;
			text-transform: uppercase;
		}
		&:hover {
			background-color: #EEE;
			span {
			// color: $brand-primary !important;
			}
		}
	}
}

#cc_nav {
	margin-bottom:5px;
	text-align: center;
	max-width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
  .nav {
  	width: 1000px;
  }
}




.container-md {
	margin: 0 auto;
	// padding: 0 30px;
	// max-width: $screen-md-max;
	max-width: 800px;
	width: 100%;
}

.container-sm {
	margin: 0 auto;
	// padding: 0 30px;
	max-width: 500px;
	width: 100%;
}

.container-xs {
	margin: 0 auto;
	// padding: 0 30px;
	max-width: 300px;
	width: 100%;
}

.d3-chart-handle {
	background: #CCC;
	width: 200px;
}

// .get-started__location-suggestion {
//   padding:15px;
//   font-size:18px;
// }

main > header {
	text-align: center;
	img {
		height: 60px;
	}
}

.d3-chart-slider {
	.d3-chart-handle {
		border-radius: 0;
		fill: #0290be;
	}
}

.d3-slider-axis {
	.tick {
		&:hover {
			fill: #777;
			cursor: pointer;
		}
	}
}

.cc-component__nav {
	clear: both;
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
	a {
		background: #4AAA48;
		color: #FFF;
		display: inline-block;
		padding: 10px;
		text-transform: uppercase;
		margin-right: 10px;
		&:last-child { margin: 0; }
	}
}
