<main class="cc-component container container-md" id="take_action">
  <header class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-black.svg"/>
      <h4>{this.title}</h4>
    </div>
    <span class="cc-component__byline">{this.t('take_action.byline')}</span>
  </header>

  <div class="cc-component__form">

  <div>
    <div rt-repeat="action in this.actions"
      key="{action.key}">
      <div class="take-action__action-heading"
        rt-class="{'take-action__action-heading--taken': action.taken}"
        onClick="{this.toggleActionDetails.bind(this, action)}">
        <h5>{action.display_name}</h5>
      </div>
      <div class="take-action__action-body" rt-class="{hidden: !action.detailed}">
        <div>
          <div class="take-action__savings-amount">{action.tons_saved}</div>
          <div class="take-action__savings-label">{this.t('take_action.tons_saved')}</div>
        </div>
        <div>
          <div class="take-action__savings-amount">${action.dollars_saved}</div>
          <div class="take-action__savings-label">{this.t('take_action.dollars_saved')}</div>
        </div>
        <div>
          <div class="take-action__savings-amount">${action.upfront_cost}</div>
          <div class="take-action__savings-label">{this.t('take_action.upfront_cost')}</div>
        </div>
        <button class="btn btn-default"
          onClick="{this.toggleAction.bind(this, action)}">
          <i class="fa" rt-class="{'fa-check-square-o': !action.taken, 'fa-check-square': action.taken}"></i>
        </button>
      </div>
    </div>

  </div>

  </div>
  <div id="take_action_savings">
    <span class="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span><br/>
    <span class="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span><br/>
    <span class="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span><br/>
  </div>

  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
  </div>
</main>
