#take_action {
  position:relative;
  .take-action__detail-toggle {
    float: right;
  }
}

.take-action__savings-amount {
  font-size:1.25em;
}

.take-action__savings-label {
  font-weight:bold;
  font-size:0.9em;
}

.take-action__action-heading {
  border-bottom:1px solid lightgrey;
  background-color:#F2F2F2;
  cursor:pointer;
  padding:4px;
  border-radius:5px;
}
.take-action__action-heading--taken {
  color:white;
  background-color:#449D44;
}

.take-action__action-body {
  border-bottom:1px solid lightgrey;
  text-align:center;
  > div {
    display:inline-block;
    padding:4px;
    margin-left:4px;
    margin-right:4px;
  }
  > button {
    margin-top:3px;
    float:right;
  }
}

#take_action_savings {
  text-align:right;
  position:fixed;
  top:80px;
  right:0px;
  font-size:1.2em;
}
